* {
	margin: none;
	font-family: 'Bree Serif', serif;
}

/********** HEADER AND NAVBAR **********/

#header {
	display: inline-block;
	color: #ECA400;
	background-color: #675C6A;
	padding-bottom: 10px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1;
}

.header-div {
	display: flex;
	float: left;
	width: 100%;
}

.new-div {
	display: block;
	height: 60px;
	padding: 10px;
}

#header img {
	height: 60px;
	width: 60px;
	background: none;
	display: inline-block;
}

#header h1 {
	display: inline-block;
	font-size: 35px;
	font-family: 'Permanent Marker', cursive;
}

/*#nav-bar {
	display: block;
	width: 100%;
	height: 100px;
}*/

#nav-bar ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.nav-link {
	display : block;
	background-color: #305670;
	color: #ECA400;
	margin: 15px auto;
	width: 85%;
	border: 1px solid #ECA400;
	border-radius: 3px;
	height: 1em;
	padding: 15px 0;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
}

li a:hover {
	background-color: #ECA400;
	color: #305670;
	border-color: #AFC1E4;
}

/********** PRODUCT INFO AND VIDEO **********/

#product-info {
	padding: 20px 10px;
	background-color: #AFC1E4;
	color: #675C6A; 
	font-weight: bold;
	margin: 0 auto;
}

#product-info h2 {
	font-size: 35px;
	text-align: center;
}



#video {
	width: 98%;
	height: 250px;
	border: 3px solid #675C6A;
	border-radius: 3px;
	
}


/********** PRICING **********/

#pricing {
	padding: 5px 10px 20px 10px;
	background-color: #AFC1E4;
	color: #675C6A;
	text-align: center;
	font-weight: bold;
}

#pricing h2 {
	font-size: 35px;
}

.container {
	display: flex;
	flex-direction: row;

}

.item {
	margin: 0 auto;
	width:30%;
	height: 200px;
	font-size: 10px;
	border: 1px solid #ECA400;
	border-radius: 3px;
	background-color: #A5B8D9;
	align-content: center;
}
.item img {
	padding: 10px;
	max-width: 80%;
	max-height: 50%;
}

.item p {
	padding: 8px;
}


/********** CONTACT **********/

.form {
	background-color: #675C6A;
	color: #ECA400;
	padding: 2px 10px;
	text-align: center;
	font-weight: bold;
}

#form h3 {
	font-size: 30px;
}

#submit {
	background-color: #A5B8D9;
	color: #675C6A;
	font-weight: bold;
	border-radius: 3px;
}

#submit:hover {
	background-color: #305670;
	color: #ECA400;
}

/********** Media Queries **********/

/* screen min-width 768 */
        
@media only screen and (min-width: 768px) {

	#header {
		display: inline-block;
		vertical-align: middle;
	}

	.new-div {
		float: left;
		width: 40%;
	}

	#nav-bar ul {
		float: right;
		display: inline;
		width: 60%;
		/*height: 100px;*/
		padding-top: 0;
		margin-top: 4px;
	}

	#nav-bar li {
		width: 150px;
		display: inline;
		float: right;
	}

	.nav-link {
		display: block;
	}


}

/* screen min-width 1224 */

@media only screen and (min-width: 1224px) {

}

/********** COLOR SCHEME **********/
/*
#A5B8D9
#AFC1E4
#305670
#ECA400
#675C6A
*/

/********** FONTS **********/
/*
font-family: 'Bree Serif', serif;
font-family: 'Permanent Marker', cursive;


*/





